@import url(reset.css);

@font-face {
	src: url(../fonts/Helvetica.ttc);
	font-family: 'Helvetica'
	font-weight: normal;
}

.page {
}

.header-container {
	height: 200px;
	width: 1440px;
	background-color: #E5E000;
	margin: auto;
}

.header-container__name {
	height: 40px;
	width: 470px;
	margin-left: 80px;
}

.header-container__name h1 {
	line-height: 200px;
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: white;
}	

.maincontent-container {
	margin: auto;
}

.maincontent-container__slider {
	height: 1080px;
	width: 1440px;
	background-image: url(../img/slider.png);
	background-repeat: no-repeat;
	margin: auto;
}

.maincontent-container__menu {
	height: 100px;
	width: 1440px;
	background-color: #E5E000;
	margin: auto;
}

.maincontent-container__menu__items {
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	line-height: 29px;
	align-items: center;
	text-transform: uppercase;
	color: white;
	margin-left: 80px;
}

.maincontent-container__menu a {
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	line-height: 29px;
	align-items: center;
	text-transform: uppercase;
	text-decoration-line: none;
	color: white;
	line-height: 100px;
}

.maincontent-container__text {
	width: 1440px;
	padding-top: 110px;
	padding-bottom: 110px;
	margin: auto;
}

.maincontent-container__text p {
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	line-height: 57px;
	color: black;
	margin-left: 80px;
}

.footer-container {
	height: 200px;
	width: 1440px;
	background-color: #E5E000;
	margin: auto;
}

.footer-container__logo {
	height: 46px;
	width: 205px;
	margin-left: 80px;
	margin-top: 77px;
	display: inline-block;
}

.footer-container__heading {
	height: 64px;
	width: 614px;
	line-height: 57px;
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: white;
	float: right;
	margin-right: 80px;
	margin-top: 68px;
}